body {
    margin: 0;
    text-align: center;
}

.spacefotomenu {
    display: table-cell;
    padding-top: 85px;
    vertical-align: middle;
}

.menu {
    list-style: none;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
}

.link{
    float: left;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px;
}

a {
    color: rgb(215, 83, 1);
    text-decoration: none;
}

a:hover {
    color: rgb(144, 55, 0);
}

.fotoperfil {
    width: 50%;
    height: 75%;
}

#home {
    position: relative;
    bottom: 0;
    background: linear-gradient(rgb(173, 201, 206) 0%, rgb(184, 175, 213) 100%);
    display: table;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}

#subtitulo {
    font-size: 50px;
    font-family: "Josefin Sans", sans-serif;
}

h2 {
    font-size: 30px;
    font-family: monospace;
    font-weight: 300;
}

#text {
    font-family: "Josefin Sans", sans-serif;
    padding: 50px;
}

.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}

@media-screen (max-width: 600px) {
    body{
        background-color: aliceblue;
        font-size: 24px;
    }
}

@media-screen (max-width: 600px) {
    nav ul li {
        display: block;
        text-align: center;
    }
}